body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../assets/img/loginbg.jpeg");
    background-size: cover;
    background-position: center;
}

#mensajeError {
    visibility: hidden;
    background-color: rgb(172, 58, 58);
    color: rgb(12, 12, 12);
    margin-top: 25px;
    padding: 0 7px 0 7px;
    border-radius: 10px;
}

#loginForm {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #262525;
    padding: 50px;
    border-radius: 10px;
    height: 350px;
    width: 300px;
    color: #FCF7F7;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}


input {
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    width: 250px;
    padding-left: 10px;
}

input::placeholder {
    padding-left: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FCF7F7;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(29, 169, 64);
    height: 50px;
    border-radius: 15px;
    margin-top: 35px;
    font-size: 18px;
}