body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensajeError{
    visibility: hidden;
    background-color: rgb(172, 58, 58);
    color: white;
}

#loginForm{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(175, 234, 237);
    padding: 50px;
    border-radius: 10px;
}


input{
    height: 25px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
    width: 250px;
}

input::placeholder {
    padding-left: 10px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: rgb(29, 169, 64);
    height: 35px;
    border-radius: 15px;
    margin-top: 15px;
}
